#!/usr/bin/env bash
export OID_SESSION_SECRET=session_secret
export OID_SESSION_CHECK_SSI=off
export OID_SESSION_NAME=name_of_the_cookie
export OID_DISCOVERY=https://example.com/.well-known/openid-configuration
export OID_CLIENT_ID=client_id
export OID_CLIENT_SECRET=client_secret
export OID_REDIRECT_PATH=/callback
