OID_SESSION_SECRET=session_secret
OID_SESSION_CHECK_SSI=off
OID_SESSION_NAME=name_of_the_cookie
OID_DISCOVERY=https://example.com/.well-known/openid-configuration
OID_CLIENT_ID=client_id
OID_CLIENT_SECRET=client_secret
OID_REDIRECT_PATH=/callback
OID_FEATURES=user
